

version: '3.8'
services:
  infra-monitoring-system:
    build: .
    container_name: infra-monitoring-system_app
    command: python -m src.main
    environment:
      - INFRA_MONITORING_SYSTEM_EXPORTER_ENABLE=0
    volumes:
      - ./logs:/app/logs
      - ./reports:/app/reports
      - ./.cache:/app/.cache
    restart: unless-stopped

  infra-monitoring-system-metrics:
    build: .
    container_name: infra-monitoring-system_metrics
    command: python -m src.exporter.main_http
    environment:
      - INFRA_MONITORING_SYSTEM_HTTP_PORT=8000
      - LOKI_URL=http://loki:3100/api/prom/push
      - LOKI_LABELS=job=infra-monitoring-system
    ports:
      - "8000:8000"
    volumes:
      - ./logs:/app/logs
      - ./.cache:/app/.cache
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./observability/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    depends_on:
      - infra-monitoring-system-metrics

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus

  loki:
    image: grafana/loki:2.8.2
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - loki-data:/loki
    restart: unless-stopped

volumes:
  grafana-data:
  loki-data:
